{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competencias</h2>
<section>
        <a href="{% url 'nova_competencia' %}">
            <button>Inserir nova Competencia</button>
        </a>
    {% for competencia in competencias %}
    <article>
        <header>
            <h3><a href="{% url 'competencia' competencia.id %}">{{ competencia.titulo }}</a></h3>
        </header>

        <section>
            <h4>Descricao:</h4>
            <p>{{competencia.resumo_basico}}</p>
        </section>

    </article>
    {%endfor%}
</section>
{% endblock %}