{% extends "portfolio/base.html" %}

{% block content %}
<h2>{{competencia.titulo}}</h2>
<section>
    {% if is_gestor %}
    <ul>
        <a href="{% url 'edita_competencia' competencia.id %}">
            <button>Editar Competencia</button>
        </a>
        <a href="{% url 'apaga_competencia' competencia.id %}">
            <button>Apagar Competencia</button>
        </a>
    </ul>
    {% endif %}
    <article>

        <section>
            <h4>Descricao:</h4>
            <p>{{competencia.resumo_basico}}</p>
        </section>

    </article>
</section>
{% endblock %}