{% extends "portfolio/base.html" %}

{% block content %}

<body>

    <section>
        <article>
            <header>
                <h3>Arquitetura MVT do Django</h3>
            </header>
            <h4>Primeiro esboço do diagrama:</h4>
            <img src="/media/makingOF/diagrama_portfolio.jpg">
        </article>
    </section>

    <section>
        <article>
            <header>
                <h3>Modelação</h3>
            </header>
            <h4>Diagrama de acordo com o models:</h4>
            <img src="/media/makingOF/diagrama_models.png" class="img-diagrama">
        </article>
    </section>

    <section>
        <article>
            <header>
                <h3>Tecnologias</h3>
            </header>
        </article>
    </section>

    <section>
        <article>
            <header>
                <h3>Estrutura das páginas</h3>
            </header>
        </article>
    </section>

    <section>
        <article>
            <header>
                <h3>Repositório GitHub</h3>
            </header>
        </article>
    </section>

    <section>
        <article>
            <header>
                <h3>Making-Of</h3>
            </header>
        </article>
    </section>

</body>

</html>
{% endblock %}