{% extends "portfolio/base.html" %}

{% block content %}
<body>
    <section>
        <h3>Arquitetura MVT do Django</h3>
        <img src="/media/makingOF/diagrama portfolio.png">
    </section>
    <section>
        <h3>Modelação</h3>
    </section>
    <section>
        <h3>Tecnologias</h3>
    </section>
    <section>
        <h3>Estrutura das páginas</h3>
    </section>
    <section>
        <h3>Repositório GitHub</h3>
    </section>
    <section>
        <h3>Making-Of</h3>
    </section>
    
</body>
</html>
{% endblock %}
