{% extends "portfolio/base.html" %}

{% block content %}
<h2>{{licenciatura}}</h2>
<section>
    <article>

        <section>
            <h4>Unidades curriculares:</h4>
            {% for uc in licenciatura.ucs.all %}
            <ul>
                <li>
                <a href="{% url 'uc' uc.id %}">
                    {{uc}}
                </a>
                </li>
            </ul>
            {% empty %}
            <a>Sem UCs atribuidos</a>
            {%endfor%}
        </section>

        <section>
            <h4>Docentes:</h4>
            {% for prof in licenciatura.docentes.all %}
            <ul>
                <li>
                <a href="{% url 'docente' prof.id %}">{{prof}}</a>
                </li>
            </ul>
            {% empty %}
            <a>Sem docentes atribuidos</a>
            {%endfor%}
        </section>

    </article>
</section>
{% endblock %}