{% extends "artigos/base.html" %}

{% block content %}
<h2>Artigos</h2>
    {% for artigo in artigos %}
<section>
    {% if is_gestor %}
        <a href="{% url 'novo_artigo'%}">
            <button>Inserir novo Artigo</button>
        </a>
    {%endif%}
    <article>
        <header>
            <h3><a href="{% url 'artigo' artigo.id %}">{{ artigo.texto }}</a></h3>
        </header>

        <section>
            <image src="project/media/media/abc.png">{{artigo.fotografia}}</image>
        </section>

        <section>
            <p>{{artigo.data_criacao}}</p>
        </section>

        <section>
            <p>{{artigo.link}}</p>
        </section>

        
        <section>
            <p>{{artigo.autor}}</p>
        </section>

    </article>
    {%endfor%}
</section>
{% endblock %}