{% extends "artigos/base.html" %}

{% block content %}
<h2>{{artigo.texto}}</h2>
<section>
    {% if is_autor %}
        <a href="">
            <button>Editar Artigo</button>
        </a>
        <a href="">
            <button>Apagar Artigo</button>
        </a>
    {%endif%}
    <article>

        <section>
            <image src="project/media/media/abc.png">{{artigo.fotografia}}</image>
        </section>

        <section>
            <p>{{artigo.data_criacao}}</p>
        </section>

        <section>
            <p>{{artigo.link}}</p>
        </section>

        
        <section>
            <p>{{artigo.autor}}</p>
        </section>

    </article>
</section>
{% endblock %}