{% extends "artigos/base.html" %}

{% block content %}
<h2>{{artigo.texto}}</h2>
    <nav>
    {% if is_autor %}
    <a href="{% url 'edita_artigo' artigo.id %}">
        <button>Editar Artigo</button>
    </a>
    <a href="{% url 'apaga_artigo' artigo.id %}">
        <button>Apagar Artigo</button>
    </a>
    <form method="post" action="{% url 'like_artigo' artigo.id %}">
        {% csrf_token %}

        {% if request.user in artigo.likes.all %}
        <button type="submit">💔 Remover Like</button>
        {% else %}
        <button type="submit">❤️ Like</button>
        {% endif %}
    </form>
    {%endif%}
    </nav>
<section>
    <article>

        <section>
            <image src="project/media/media/abc.png">{{artigo.fotografia}}</image>
        </section>

        <section>
            <p>{{artigo.data_criacao}}</p>
        </section>

        <section>
            <p>{{artigo.link}}</p>
        </section>


        <section>
            <p>{{artigo.autor}}</p>
        </section>


        <section>
            <p>{{ artigo.total_likes }} likes</p>
        </section>
    </article>

    <article>

        <h3>Comentários</h3>

        {% for comentario in artigo.comentarios.all %}
        <article>
            <strong>{{ comentario.autor }}</strong>
            <p>{{ comentario.texto }}</p>
            <small>{{ comentario.data_criacao }}</small>
            {% empty %}
            <p>Sem comentários.</p>
            {% endfor %}
        </article>

        {% if request.user.is_authenticated %}

        <form method="post" action="{% url 'adicionar_comentario' artigo.id %}">
            {% csrf_token %}

            <textarea name="texto"></textarea>

            <button type="submit">
                Comentar
            </button>
        </form>
        {%endif%}
</section>
{% endblock %}